/*Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1 {
  text-align: center;
}

#buttonOnly {
  display: flex;
  justify-content: center;
}

#colors {
  text-align: center;
}

.gridbox {
  display: flex;
  width: 100%;
}
.grid {
  background: lightgray;
  flex: 1;
}

.active {
  background: var(--base);
}

:root {
  --base: black;
}
